<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <title>SUTDitor</title>

    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  </head>

  <body>

    <p>current selected node: <label id="selectedNode">haha</label></p>


  <!-- for local file upload -->
  <!-- <label for="fileinput">File input</label>
  <input type="file" id="fileinput"> -->

  <form class="form-inline">
    <div class="form-group">
      <label for="Image name" class="sr-only">Image Name</label>
      <input type="text" class="form-control" id="imageNameinput" placeholder="Enter image name">
    </div>
    <div class="form-group">
      <label for="imageURLinput" class="sr-only">Image URL</label>
      <input type="text" class="form-control" id="imageURLinput" placeholder="Enter image URL">
    </div>
    <button type="button" class="btn btn-default">Upload</button>
  </form>


  <script src="js/application.js"></script>

  </body>
</html>
